In [1]:
import pandas as pd

df_matches = pd.read_csv('Laliga_matches_23_24.csv') # Esta tiene los partidos
df_xg_table = pd.read_csv('Laliga_table_xg_2023_24.csv') # Esta tiene las estadísticas avanzadas


home_side = df_matches[['Match ID', 'Home Team', 'Score']].rename(columns={'Home Team': 'team', 'Score': 'result'})
away_side = df_matches[['Match ID', 'Away Team', 'Score']].rename(columns={'Away Team': 'team', 'result': 'result'})

df_maestro = pd.concat([home_side, away_side], ignore_index=True)

df_final = pd.merge(df_maestro, df_xg_table, left_on='team', right_on='name', how='left')

df_final = df_final.drop(columns=['name'])


print(f"Filas totales: {df_final.shape[0]} )")
print(f" Columnas totales: {df_final.shape[1]}")
print("\nPrimeras filas del dataset unificado:")
print(df_final.head())

✅ Filas totales: 760 )
✅ Columnas totales: 12

Primeras filas del dataset unificado:
   Match ID           team result Score  idx  played       xg  xgConceded  \
0   4205343        Almeria  0 _ 2   NaN   17      38  49.3728     62.0616
1   4205347        Sevilla    1_2   NaN   16      38  45.1687     56.7460
2   4205351  Real Sociedad    1_1   NaN    6      38  45.5000     42.0143
3   4205348     Las Palmas    1_1   NaN   20      38  33.4065     57.4859
4   4205344  Athletic Club  0 _ 2   NaN    5      38  53.2360     41.9482

     xPoints  xgDiff  xgConcededDiff  pts
0  43.179331 -6.3728         12.9384   21
1  43.305692  2.8313         -2.7460   41
2  54.506721  5.5000         -3.0143   60
3  37.441523 -0.4065        -10.4859   40
4  58.832578  7.7640         -4.9482   68

In [7]:
df_final.to_csv('Laliga_unificada_2023_24.csv', index=False, encoding='utf-8-sig')

print("\nPrimeras filas del dataset unificado:")
print(df_final.head())

Archivo 'Laliga_unificada_2023_24.csv' exportado con éxito.

Primeras filas del dataset unificado:
   Match ID           team result Score  idx  played       xg  xgConceded  \
0   4205343        Almeria  0 _ 2   NaN   17      38  49.3728     62.0616
1   4205347        Sevilla    1_2   NaN   16      38  45.1687     56.7460
2   4205351  Real Sociedad    1_1   NaN    6      38  45.5000     42.0143
3   4205348     Las Palmas    1_1   NaN   20      38  33.4065     57.4859
4   4205344  Athletic Club  0 _ 2   NaN    5      38  53.2360     41.9482

     xPoints  xgDiff  xgConcededDiff  pts
0  43.179331 -6.3728         12.9384   21
1  43.305692  2.8313         -2.7460   41
2  54.506721  5.5000         -3.0143   60
3  37.441523 -0.4065        -10.4859   40
4  58.832578  7.7640         -4.9482   68